#title {
    background-color: #ff4c68;
    font-family: 'Montserrat',sans-serif;
}

.container-fluid{
    padding: 3% 15%;;
}

h1{
    font-family:  'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    color:#fff;
    line-height: 1.5;
}

/* Nav bar */
.navbar{
    padding:0 0 1rem;
}

.navbar-brand{
    font-family: 'Ubuntu',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat-light';

}
 /* Download buttons  */
.download-btn{
    margin: 5% 3% 5% 0;
}
 /* title image*/
 .title-image {
    width:20rem;
    height: 28rem;
    object-fit:cover;
    border-radius: 1rem;
    box-shadow: 10 10 30px #fff;

 }
 .title-image:hover{
    transform: rotate(20deg) ;
 }
